.App {
  text-align: center;
background-color: #f0ece2; 
}
.header{
  width: 100%;
  background-Color: #847663;
  border:1px solid black;
  color: rgb(230, 226, 222);
position: static;
}
h2{
  font-size: 4vh;
  font-weight: 300; 
}